<div class="container">
    <h1>Communication Host App</h1>
    <div class="mfe-wrapper">
        <div class="mfe-activator">
            <p>MFE - Activator</p>
            <app-mfe-activator [toggleS]="toggleS"></app-mfe-activator>
        </div>
        <div class="mfe-picker">
            <p>MFE - Picker</p>
            <app-mfe-picker [toggleS]="toggleS" [queryS]="queryS"></app-mfe-picker>
        </div>
        <div class="mfe-finder">
            <p>MFE - Finder</p>
            <app-mfe-finder class="finder" [toggleS]="toggleS" [queryS]="queryS"></app-mfe-finder>
        </div>
    </div>
</div>
