<div class="container">
    <h1>Communication Host App</h1>
    <div class="mfe-wrapper">
        <div class="mfe-activator">
            <p>MFE - Activator</p>
            <app-mfe-activator></app-mfe-activator>
        </div>
        <div class="mfe-picker">
            <p>MFE - Picker</p>
            <app-mfe-picker></app-mfe-picker>
        </div>
        <div class="mfe-finder">
            <p>MFE - Finder</p>
            <app-mfe-finder class="finder"></app-mfe-finder>
        </div>
    </div>
</div>


<router-outlet></router-outlet>